<%= render "shared/errors", errors: @errors if @errors %>

<%= form_with url: form_url, method: form_method do |f| %>
  <div class="mb-3">
    <%= label_tag :name, "Nome", class: "form-label" %>
    <%= text_field_tag "plan[name]", @plan.name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= label_tag :description, "Descrição", class: "form-label" %>
    <%= text_area_tag "plan[description]", @plan.description, class: "form-control", rows: 3 %>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= label_tag :price_cents, "Preço (em centavos)", class: "form-label" %>
      <%= number_field_tag "plan[price_cents]", @plan.price_cents, class: "form-control", min: 1, required: true %>
    </div>

    <div class="col-md-6 mb-3">
      <%= label_tag :currency, "Moeda", class: "form-label" %>
      <%= select_tag "plan[currency]", options_for_select(Plan::CURRENCIES, @plan.currency), class: "form-select" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= label_tag :interval_count, "Quantidade de intervalos", class: "form-label" %>
      <%= number_field_tag "plan[interval_count]", @plan.interval_count, class: "form-control", min: 1, required: true %>
    </div>

    <div class="col-md-6 mb-3">
      <%= label_tag :interval_type, "Tipo de intervalo", class: "form-label" %>
      <%= select_tag "plan[interval_type]", options_for_select(Plan::INTERVAL_TYPES, @plan.interval_type), class: "form-select" %>
    </div>
  </div>

  <div class="mb-3 form-check">
    <%= check_box_tag "plan[active]", "1", @plan.active, class: "form-check-input" %>
    <%= label_tag :active, "Ativo", class: "form-check-label" %>
  </div>

  <%= submit_tag "Salvar", class: "btn btn-primary" %>
  <%= link_to "Cancelar", admin_plans_path, class: "btn btn-secondary ms-2" %>
<% end %>
