<%= render "shared/errors", errors: @errors if @errors %>

<%= form_with url: form_url, method: form_method do |f| %>
  <div class="mb-3">
    <%= label_tag :name, t("admin.plans.form.name"), class: "form-label" %>
    <%= text_field_tag "plan[name]", @plan.name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= label_tag :description, t("admin.plans.form.description"), class: "form-label" %>
    <%= text_area_tag "plan[description]", @plan.description, class: "form-control", rows: 3 %>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= label_tag :price_cents, t("admin.plans.form.price_cents"), class: "form-label" %>
      <%= number_field_tag "plan[price_cents]", @plan.price_cents, class: "form-control", min: 1, required: true %>
    </div>

    <div class="col-md-6 mb-3">
      <%= label_tag :currency, t("admin.plans.form.currency"), class: "form-label" %>
      <%= select_tag "plan[currency]", options_for_select(Plan::CURRENCIES, @plan.currency), class: "form-select" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= label_tag :interval_count, t("admin.plans.form.interval_count"), class: "form-label" %>
      <%= number_field_tag "plan[interval_count]", @plan.interval_count, class: "form-control", min: 1, required: true %>
    </div>

    <div class="col-md-6 mb-3">
      <%= label_tag :interval_type, t("admin.plans.form.interval_type"), class: "form-label" %>
      <%= select_tag "plan[interval_type]",
            options_for_select(Plan::INTERVAL_TYPES.map { |t| [Shared::Values::Period.human_type(t), t] }, @plan.interval_type),
            class: "form-select" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= label_tag :duration_count, t("admin.plans.form.duration_count"), class: "form-label" %>
      <%= number_field_tag "plan[duration_count]", @plan.duration_count, class: "form-control", min: 1,
            placeholder: t("admin.plans.form.duration_count_placeholder") %>
    </div>

    <div class="col-md-6 mb-3">
      <%= label_tag :duration_type, t("admin.plans.form.duration_type"), class: "form-label" %>
      <%= select_tag "plan[duration_type]",
            options_for_select([[t("admin.plans.form.duration_lifetime"), ""]] + Plan::DURATION_TYPES.map { |t| [Shared::Values::Period.human_type(t), t] }, @plan.duration_type),
            class: "form-select" %>
    </div>
  </div>

  <div class="mb-3 form-check">
    <%= check_box_tag "plan[renewable]", "1", @plan.renewable, class: "form-check-input" %>
    <%= label_tag :renewable, t("admin.plans.form.renewable"), class: "form-check-label" %>
  </div>

  <div class="mb-3 form-check">
    <%= check_box_tag "plan[active]", "1", @plan.active, class: "form-check-input" %>
    <%= label_tag :active, t("admin.plans.form.active"), class: "form-check-label" %>
  </div>

  <%= submit_tag t("admin.plans.form.submit"), class: "btn btn-primary" %>
  <%= link_to t("shared.actions.cancel"), admin_plans_path, class: "btn btn-secondary ms-2" %>
<% end %>
